<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="description" content="" />
		<link rel="stylesheet" href="style.css" />
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🖼️</text></svg>" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous" />
		<link rel="stylesheet" href="//unpkg.com/@highlightjs/cdn-assets@11.7.0/styles/atom-one-dark.min.css" />
		<script src="//unpkg.com/@highlightjs/cdn-assets@11.7.0/highlight.min.js"></script>
		<script src="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.css" />
		<style>
			.hljs-copy-button {
				cursor: pointer;
			}
		</style>
		<title><%= htmlWebpackPlugin.options.title %> - Demo</title>
		<link rel="preload" href="./img/alex-knight-vaA6EQiUSo4-unsplash_result.jpg" as="image" />
		<link rel="preload" href="./img/joel-fulgencio-01fAtHwYqo0-unsplash_result.jpg" as="image" />
		<link rel="preload" href="./img/pawel-nolbert-4u2U8EO9OzY-unsplash_result.jpg" as="image" />
		<link rel="preload" href="./img/stephan-valentin-oqYLdbuJDQU-unsplash_result.jpg" as="image" />
		<link rel="preload" href="./img/waranont-joe-T7qyLNPwgKA-unsplash_result.jpg" as="image" />
	</head>
	<body>
		<main>
			<div class="desc">
				<h1><%= htmlWebpackPlugin.options.title %></h1>
				<h2 class="subtitle"><%= subtitle %></h2>
				<p><%= description %></p>
				<p>
					📖&nbsp;<a href="<%= repo %>">Readme</a><br />
					📓&nbsp;<a href="<%= homepage %>/docs">API documentation</a>
				</p>

				<p>
					Created by <a href="https://www.isaacyakl.com" title="yak's Website">yak</a> <a href="https://www.twitter.com/isaacyakl" alt="Twitter" target="_blank" title="yak on Twitter"><i class="fab fa-twitter"></i></a>
					<a href="https://www.github.com/isaacyakl" alt="GitHub" target="_blank" title="yak on GitHub"><i class="fab fa-github"></i></a>
				</p>
				<h2>Demo</h2>
				<p>
					<button class="control" id="nextbtn">.next()</button>
					<button class="control" id="pausebtn">.pause()</button>
					<button class="control" id="playbtn">.play()</button><br />
					<button class="control" id="transition500msbtn">.transition = "500ms ease-in"</button>
					<button class="control" id="timeout5000btn">.timeout = 5000</button>
					<button class="control" id="timeout10000btn">.timeout = 10000</button>
				</p>
			</div>
			<div class="highlight"></div>
			<div class="instructions"><%= installationUsage %></div>
			<script>
				hljs.highlightAll();
				hljs.addPlugin(new CopyButtonPlugin());
			</script>
			<script type="text/javascript">
				let demo = bRando.create();
				document.getElementById("nextbtn").addEventListener("click", () => {
					demo.next();
				});
				document.getElementById("pausebtn").addEventListener("click", () => {
					demo.pause();
				});
				document.getElementById("playbtn").addEventListener("click", () => {
					demo.play();
				});
				document.getElementById("transition500msbtn").addEventListener("click", () => {
					demo.transition = "500ms ease-in";
				});
				document.getElementById("timeout5000btn").addEventListener("click", () => {
					demo.timeout = 5000;
				});
				document.getElementById("timeout10000btn").addEventListener("click", () => {
					demo.timeout = 10000;
				});
			</script>
		</main>
	</body>
</html>
